<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <script src="" async defer></script>
        <h1>Pneumonia Detection</h1>
        <h2>Upload X-Ray Image : </h2>
        <form method="post" enctype="multipart/form-data" action="{% url 'predict' %}">
            {% csrf_token %}
            <input type="file" id="img" name="img" accept="image/*" required>  
            <button type="submit">Submit</button>
        </form>

    </body>
</html>